p {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12pt;
}
q {
    quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}
th {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12pt;
    text-align: center;
}
td {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12pt;
    text-align: top;
}
span.bold {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12pt;
    font-weight: bold;
}
span.name_initial {
    font-family: Verdana, Arial, Helvetica;
    font-size: 16pt;
    font-weight: bold;
}